Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF==1.1.1
Flask-Babel
email_validator==2.0.0.post2
python-dotenv==1.0.0
Werkzeug==2.3.6
qrcode[pil]==7.4.2
pandas
openpyxl
mysql-connector-python
paho-mqtt
Flask-Talisman
requests
flask_babel
xlsxwriter
boto3
Flask-Limiter